Map {
  margin: 0;
  padding: 0;
}

.card{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
}

label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  
}

.stars{
  color: gold;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
