.container-about {
  width: 100% ;
  height: 86.7vh ;
  background-image: url("https://wallpaperaccess.com/full/185289.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container-about {
  text-justify: left;
  margin: 0;
  color: yellow;
  position: relative;
  z-index: 1;
  font-size: 20px;
  box-shadow: black;
  text-shadow: #020819 8px -5px 9px;
}
